.twf{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.tws{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.twt{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}